<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="favicon.png">
    <title>Looking for Job</title>
    <style>
        td, th{
            padding: 5px 20px;
            border: 1px solid lightgray;
            white-space: nowrap;
        }
        table {
            border-collapse: collapse;
        }
    </style>
</head>

<body>
    <h1>Looking for Job</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>State</th>
                <th>District</th>

                <th>Current Company</th>
                <th>Current Designation</th>
                <th>Exp. in years</th>

                <th>Comments</th>
                <th>Date</th>
            </tr>
        </thead>

        <tbody>
            <% for(var i=0; i < data.length; i++) { %>
                <tr>
                    <td>
                        <%= data[i].id %>
                    </td>
                    <td>
                        <%= data[i].name %>
                    </td>
                    <td>
                        <%= data[i].email %>
                    </td>
                    <td>
                        <%= data[i].mobile %>
                    </td>
                    <td>
                        <%= data[i].state %>
                    </td>
                    <td>
                        <%= data[i].district %>
                    </td>

                    <td>
                        <%= data[i].ccompany %>
                    </td>
                    <td>
                        <%= data[i].cdesignation %>
                    </td>

                    <td>
                        <%= data[i].exp_in_year %>
                    </td>
                    <td>
                        <%= data[i].comments %>
                    </td>
                    <td>
                        <%= data[i].dt %>
                    </td>
                </tr>
                <% } %>
        </tbody>
    </table>
</body>

</html>